* {
    box-sizing: border-box;
    -webkit-transition: background .3s;
    transition: background .3s;
    outline: 0;
}

body {
    background: #00334b;
    color: #fff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

h1 {
    text-align: center;
}


/* ===== add-taks ===== */

input,
button,
textarea,
.task-item,
.task-detail_mask {
    padding: 10px;
    border-radius: 3px;
}

button,
textarea,
input[type="text"],
input[type="date"] {
    border: 0;
}

textarea,
input[type="text"],
input[type="date"] {
    display: block;
    width: 100%;
    border: 0;
    background: #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset;
}

textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="date"]:hover,
input[type="date"]:focus {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2) inset;
}

button {
    display: inline-block;
    border: 0;
}

.add-task input[type="text"] {
    float: left;
    width: 84%;
    margin-right: 1%;
}

.add-task button[type="submit"] {
    color: #333;
    background: #4dabd8;
    width: 15%;
}

.add-task button[type="submit"]:hover {
    background: #76d3ff;
}

.add-task button[type="submit"],
.task-item {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
    cursor: pointer;
}


/* ===== task-list ===== */

.task-list {
    margin: 10px 0;
}

.task-item {
    background: #fff;
    color: #333;
    margin-bottom: 2px;
}

.task-item:hover {
    background: #ddd;
}


/* ===== detail ===== */

.task-content {
    margin-left: 10px;
}

.action {
    color: #888;
    font-size: 90%;
    float: right;
    padding-left: 5px;
}

.action:hover {
    color: #333;
}

textarea {
    min-height: 100px;
}

.task-detail,
.task-detail_mask {
    position: absolute;
}

.task-detail>* {
    margin-bottom: 10px;
}

.task-detail {
    background: #fff;
    color: #333;
    width: 50%;
    height: 100%;
    padding: 10px;
    bottom: 0;
    right: 0;
}

.task-detail .content {
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}

.task-detail_mask {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(30, 30, 30, .3);
}